<style>
    :root {
        --steerpoints-background-primary: rgb(214, 179, 179);
        --steerpoints-background-secondary: rgb(179, 214, 212);
        --steerpoints-foreground-primary: #000;
        --steerpoints-foreground-secondary: #000;
    }

    tr.steerpoint {
        background-color: var(--steerpoints-background-primary);
        color: var(--steerpoints-foreground-primary);
    }

    tr.steerpoint:nth-child(even) {
        background-color: var(--steerpoints-background-secondary);
        color: var(--steerpoints-foreground-secondary);
    }

    tr.steerpoint td:first-child {
        text-align: center;
    }
</style>

<table>
    <caption class="leader">
        Steerpoints
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>desc</th>
            <th>time</th>
            <th>dist</th>
            <th>hng</th>
            <th>alt</th>
            <th>act</th>
            <th>frm</th>
            <th>cmnt</th>
        </tr>
    </thead>
    <tbody>
        {% for sp in steerpoints %}
        <tr class="steerpoint">
            <td>{{ sp.steerpoint }}</td>
            <td>{{ sp.description }}</td>
            <td>{{ sp.time }}</td>
            <td>{% if sp.distance %}{{ sp.distance }}nm{% endif %}</td>
            <td>{% if sp.heading %}{{ sp.heading }}°{% endif %}</td>
            <td>{{ sp.altitude }}</td>
            <td>{{ sp.action }}</td>
            <td>{{ sp.form }}</td>
            <td>{{ sp.comments }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
